

#.htaccess file written by Hayden Mack


########################################################################
# URL rewriting!
# not necessary for this assignment (too painful and time consuming) 
# current website is also terrible for SEO but oh well ;)
<IfModule mod_rewrite.c> 

RewriteEngine on
RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}.php -f


RewriteRule ^f/(.+)$ sub/$1.php [L,QSA,NC]

RewriteRule ^s/(.+)$ sub/$1 [L,NC]

# this should be last rule
#RewriteRule ^(.+)/?(.+) ?page=$1&$2 [QSA, L]

RewriteRule ^Zylon/$ Zylon/index.php [L,NC]

RewriteRule ^(.+)/$ ?page=$1 [L]

</IfModule>
########################################################################


# stop the user from getting list of files in any directory
Options -Indexes

# block access to this file
<Files .htaccess>
order allow,deny
deny from all
</Files>

<Files *.py>
order allow,deny
deny from all
</Files>

# block certain ip addresses
order allow,deny
#deny from 123.45.6.7
allow from all


# set the directory index
#DirectoryIndex main.php

# error document locations
ErrorDocument 400 /sub/site-errors/400.php
ErrorDocument 401 /sub/site-errors/401.php
ErrorDocument 403 /sub/site-errors/403.php
ErrorDocument 404 /sub/site-errors/404.php
ErrorDocument 500 /sub/site-errors/500.php


